// Variables
@import 'partials/variables';


// Main Menu
@import 'partials/menu';

// Contetn

#aboutus {

	padding-top:180px;
	padding-bottom:50px;
	background: $bgroundcolor;
	
	img {
		float:left;
	}

	h2 {
		
		padding-top:50px;
		color: $h1color;
	    font-size: 47px;
	    font-weight: italic;
    	font-family: "Merriweather", serif;
    	text-align:left;
    	padding-bottom:35px;
	}

	h3 {
		color: $h2color;
    	font-size: 33px;
    	font-weight: italic;
    	font-family: "Merriweather", serif;
    	text-align:left;
    	padding-bottom:35px;
    	
	}

	p {
		font-size:17px;
		color: $pcolor;
		font-family: "Open Sans", sans-serif;
		font-weight:300;
		line-height:30px;

	}

	.btn {
		width:230px;
		height:50px;
		background-color: $buttoncolor;
		border-style:none;
		border-radius:50px;
		font-size:17px;
		font-weight:bold;
		letter-spacing:1px;
		display: inline-block;
		transition: 0.5s all linear;
	}	

	button:hover {
		color: #fff;
background: #f9a870;
	}

}

#communication {

	padding:80px 0;

	h2 {
		text-align:center;
		color: $h1color;
   		font-size: 55px;
   		font-weight: 300;
    	font-family: "Merriweather", serif;

	}

	img {
		padding-top:40px;
	}

	p {
		padding-top:25px;
		font-size:15px;
		color:#7D7D7D;
		font-family: "Open Sans", sans-serif;
		font-weight:300;
		line-height:25px;
		

	}

	}

#languagecenter {

		padding:100px 0;
	background: $bgroundcolor;
	
	img {
		float:right;
	}

	h2 {
		
		color: $h1color;
	    font-size: 47px;
	    font-weight: italic;
    	font-family: "Merriweather", serif;
    	text-align:left;
    	padding-bottom:35px;
	}

	.langp {
		font-weight:bold;
	}

	p {
		font-size:17px;
		color: $pcolor;
		font-family: "Open Sans", sans-serif;
		font-weight:300;
		line-height:25px;

	}

}

#team {
			background:#003c5a;
			padding:60px 0;

	h1 {
		color:white;
		font-size: 55px;
   		font-weight: 300;
    	font-family: "Merriweather", serif;
	}

	img {
		padding-top:40px;
	}

	h2 {
		padding-top:20px;
		color:white;
		font-size:18px;
		font-weight: 700;
    	}

    	p {
    		color:white;
    		font-size:15px;
    		font-family: "Open Sans", sans-serif;
			font-weight:300;
			padding-top:5px;

    	}

}

#teaching {
	padding:60px 0;
	background:#e76e33;

	h1 {
		color:white;
		font-size: 45px;
   		font-weight: 300;
    	font-family: "Merriweather", serif;
	}

	h2 {
		padding-top:40px;
		color:white;
		font-size:25px;
		font-family: "Open Sans", sans-serif;
		font-weight:300;
	}

	p {
		color:#F6E8F2;
		padding-top:15px;
		line-height:25px;
	}

	

	.btn {
		width:170px;
		height:50px;
		background:transparent;
		border:3px solid white;
		border-radius:50px;
		font-size:17px;
		// font-weight:bold;
		letter-spacing:1px;
		display: inline-block;
		transition: 0.1s all linear;
	}	

	button:hover {
		
		color:#e76e33;
		background: white;
	}
}

// FOOTER

@import 'partials/footer';